# Green-API credentials
# Получите свои ключи на https://green-api.com/
VITE_ID_INSTANCE=
VITE_API_TOKEN_INSTANCE=
VITE_API_URL=https://api.green-api.com

# Тип мессенджера: 'telegram' | 'whatsapp' | 'max'
VITE_MESSENGER_TYPE=telegram